:root {
    --bg-color: #121212;
    --surface-color: #1E1E1E;
    --primary-color: #BB86FC;
    --secondary-color: #03DAC6;
    --error-color: #CF6679;
    --on-bg-color: #FFFFFF;
    --on-surface-color: #FFFFFF;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--on-bg-color);
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

#chatTitle {
    color: var(--on-bg-color);
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    width: 80%;
    max-width: 600px;
    font-weight: 500;
}
